
/* Custom Template Designer */

.synergy-report-template0 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template0 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template0 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template0 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template0 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template0 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template0 .box7 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.synergy-report-template0 .box8 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template0 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting 1 - Splits template layout */

.synergy-report-template1 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template1 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template1 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template1 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template1 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template1 .box6 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.synergy-report-template1 .box7 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template1 .box8 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template1 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting 2 - Weekly Recap template layout */

.synergy-report-template2 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template2 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template2 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template2 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template2 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template2 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template2 .box7 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template2 .box8 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template2 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting 3 - Season Summary template layout */

.synergy-report-template3 .box1,
.synergy-report-template126 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template3 .box2,
.synergy-report-template126 .box2 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template3 .box3,
.synergy-report-template126 .box3 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template3 .box4,
.synergy-report-template126 .box4 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template3 .box5,
.synergy-report-template126 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template3 .box6,
.synergy-report-template126 .box6 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template3 .box7,
.synergy-report-template126 .box7 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template3 .box8,
.synergy-report-template126 .box8 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template3 .box9,
.synergy-report-template126 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting 4 & 5 - In-Game vs RHP / LHP template layout (UCSB BB) */

.synergy-report-template4 .box1,
.synergy-report-template5 .box1,
.synergy-report-template119 .box1,
.synergy-report-template120 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template4 .box2,
.synergy-report-template5 .box2,
.synergy-report-template119 .box2,
.synergy-report-template120 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template4 .box3,
.synergy-report-template5 .box3,
.synergy-report-template119 .box3,
.synergy-report-template120 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template4 .box4,
.synergy-report-template5 .box4,
.synergy-report-template119 .box4,
.synergy-report-template120 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template4 .box5,
.synergy-report-template5 .box5,
.synergy-report-template119 .box5,
.synergy-report-template120 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template4 .box6,
.synergy-report-template5 .box6,
.synergy-report-template119 .box6,
.synergy-report-template120 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template4 .box7,
.synergy-report-template5 .box7,
.synergy-report-template119 .box7,
.synergy-report-template120 .box7 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template4 .box8,
.synergy-report-template5 .box8,
.synergy-report-template119 .box8,
.synergy-report-template120 .box8 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template4 .box9,
.synergy-report-template5 .box9,
.synergy-report-template119 .box9,
.synergy-report-template120 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Pitching 1 - Splits template layout */

.synergy-report-template6 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template6 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template6 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template6 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template6 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template6 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template6 .box7 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template6 .box8 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template6 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}


/* Pitching 2 - Post Game template layout */

.synergy-report-template7 .box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.synergy-report-template7 .box2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.synergy-report-template7 .box3 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template7 .box4 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.synergy-report-template7 .box5 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.synergy-report-template7 .box6 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template7 .box7 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template7 .box8 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template7 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Pitching 3 - Season Summary template layout */

.synergy-report-template8 .box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.synergy-report-template8 .box2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.synergy-report-template8 .box3 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template8 .box4 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template8 .box5 {
  grid-column: 5/7;
  grid-row: 4/7;
}

.synergy-report-template8 .box6 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template8 .box7 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template8 .box8 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template8 .box9 {
  grid-column: 5/7;
  grid-row: 3/4;
}

/* Pitching 4 & 5- In-Game vs RHH/LHH template layout */

.synergy-report-template9 .box1,
.synergy-report-template10 .box1,
.synergy-report-template121 .box1,
.synergy-report-template122 .box1,
.synergy-report-template124 .box1,
.synergy-report-template125 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template9 .box2,
.synergy-report-template10 .box2,
.synergy-report-template121 .box2,
.synergy-report-template122 .box2,
.synergy-report-template124 .box2,
.synergy-report-template125 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template9 .box3,
.synergy-report-template10 .box3,
.synergy-report-template121 .box3,
.synergy-report-template122 .box3,
.synergy-report-template124 .box3,
.synergy-report-template125 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template9 .box4,
.synergy-report-template10 .box4,
.synergy-report-template121 .box4,
.synergy-report-template122 .box4,
.synergy-report-template124 .box4,
.synergy-report-template125 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template9 .box5,
.synergy-report-template10 .box5,
.synergy-report-template121 .box5,
.synergy-report-template122 .box5,
.synergy-report-template124 .box5,
.synergy-report-template125 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template9 .box6,
.synergy-report-template10 .box6,
.synergy-report-template121 .box6,
.synergy-report-template122 .box6,
.synergy-report-template124 .box6,
.synergy-report-template125 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template9 .box7,
.synergy-report-template10 .box7,
.synergy-report-template121 .box7,
.synergy-report-template122 .box7,
.synergy-report-template124 .box7,
.synergy-report-template125 .box7 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.synergy-report-template9 .box8,
.synergy-report-template10 .box8,
.synergy-report-template121 .box8,
.synergy-report-template122 .box8,
.synergy-report-template124 .box8,
.synergy-report-template125 .box8 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template9 .box9,
.synergy-report-template10 .box9,
.synergy-report-template121 .box9,
.synergy-report-template122 .box9,
.synergy-report-template124 .box9,
.synergy-report-template125 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting Template A (MTSU BB) */

.synergy-report-template100 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template100 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template100 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template100 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template100 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template100 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template100 .box7 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.synergy-report-template100 .box8 {
  grid-column: 1/4;
  grid-row: 6/7;
}

.synergy-report-template100 .box9 {
  grid-column: 4/5;
  grid-row: 5/7;
  width: calc(150% + .2mm);
}

.synergy-report-template100 .box10 {
  grid-column: 6/7;
  grid-row: 5/7;
  width: calc(150% + .2mm);
  right: 50%;
}

/* Pitching Template A (OU SB) */

.synergy-report-template101 .box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.synergy-report-template101 .box2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.synergy-report-template101 .box3 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.synergy-report-template101 .box4 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.synergy-report-template101 .box5 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.synergy-report-template101 .box6 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template101 .box7 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template101 .box8 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template101 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Pitching Template B (OU SB) */

.synergy-report-template102 .box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.synergy-report-template102 .box2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.synergy-report-template102 .box3 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template102 .box4 {
  grid-column: 7/9;
  grid-row: 1/3;
}

.synergy-report-template102 .box5 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.synergy-report-template102 .box6 {
  grid-column: 3/5;
  grid-row:  3/5  ;
}

.synergy-report-template102 .box7 {
  grid-column: 5/7;
  grid-row:  3/5  ;
}

.synergy-report-template102 .box8 {
  grid-column: 7/9;
  grid-row:  3/5  ;
}

.synergy-report-template102 .box9 {
  grid-column: 1/2;
  grid-row: 5/7;
}

.synergy-report-template102 .box10 {
  grid-column: 2/3;
  grid-row: 5/7;
}

.synergy-report-template102 .box11 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template102 .box12 {
  grid-column: 5/7;
  grid-row: 5/7;
}

.synergy-report-template102 .box13 {
  grid-column: 7/8;
  grid-row: 5/7;
}

.synergy-report-template102 .box14 {
  grid-column: 8/9;
  grid-row: 5/7;
}

.synergy-report-template102 .box15 {
  grid-column: 1/5;
  grid-row: 7/9;
}

.synergy-report-template102 .box16 {
  grid-column: 5/9;
  grid-row: 7/9;
}

/* Pitching Templates C & D (OU SB & Ole Miss SB) */

.synergy-report-template103 .box1,
.synergy-report-template112 .box1,
.synergy-report-template117 .box1,
.synergy-report-template118 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template103 .box2,
.synergy-report-template112 .box2,
.synergy-report-template117 .box2,
.synergy-report-template118 .box2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.synergy-report-template103 .box3,
.synergy-report-template112 .box3,
.synergy-report-template117 .box3,
.synergy-report-template118 .box3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.synergy-report-template103 .box4,
.synergy-report-template112 .box4,
.synergy-report-template117 .box4,
.synergy-report-template118 .box4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.synergy-report-template103 .box5,
.synergy-report-template112 .box5,
.synergy-report-template117 .box5,
.synergy-report-template118 .box5 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.synergy-report-template103 .box6,
.synergy-report-template112 .box6,
.synergy-report-template117 .box6,
.synergy-report-template118 .box6 {
  grid-column: 1/2;
  grid-row:  3/4  ;
}

.synergy-report-template103 .box7,
.synergy-report-template112 .box7,
.synergy-report-template117 .box7,
.synergy-report-template118 .box7 {
  grid-column: 2/3;
  grid-row:  3/4  ;
}

.synergy-report-template103 .box8,
.synergy-report-template112 .box8,
.synergy-report-template117 .box8,
.synergy-report-template118 .box8 {
  grid-column: 3/4;
  grid-row:  3/4  ;
}

.synergy-report-template103 .box9,
.synergy-report-template112 .box9,
.synergy-report-template117 .box9,
.synergy-report-template118 .box9 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.synergy-report-template103 .box10,
.synergy-report-template112 .box10,
.synergy-report-template1127.box10,
.synergy-report-template1128.box10 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.synergy-report-template103 .box11,
.synergy-report-template112 .box11,
.synergy-report-template1127.box11,
.synergy-report-template1128.box11 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.synergy-report-template103 .box12,
.synergy-report-template112 .box12,
.synergy-report-template1127.box12,
.synergy-report-template1128.box12 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.synergy-report-template103 .box13,
.synergy-report-template112 .box13,
.synergy-report-template1127.box13,
.synergy-report-template1128.box13 {
  grid-column: 4/5;
  grid-row: 4/5;
}

/* Pitching Templates (UW BB) */

.synergy-report-template104 .box1,
.synergy-report-template105 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template104 .box2,
.synergy-report-template105 .box2 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template104 .box3,
.synergy-report-template105 .box3 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template104 .box4,
.synergy-report-template105 .box4 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template104 .box5,
.synergy-report-template105 .box5 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template104 .box6,
.synergy-report-template105 .box6 {
  grid-column: 1/5;
  grid-row:  6/7;
}

.synergy-report-template104 .box7,
.synergy-report-template105 .box7 {
  grid-column: 5/7;
  grid-row:  1/3;
}

.synergy-report-template104 .box8,
.synergy-report-template105 .box8 {
  grid-column: 5/7;
  grid-row:  3/5;
}

.synergy-report-template104 .box9,
.synergy-report-template105 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting Templates (UW BB) */

.synergy-report-template106 .box1,
.synergy-report-template107 .box1,
.synergy-report-template108 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template106 .box2,
.synergy-report-template107 .box2,
.synergy-report-template108 .box2 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template106 .box3,
.synergy-report-template107 .box3,
.synergy-report-template108 .box3 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template106 .box4,
.synergy-report-template107 .box4,
.synergy-report-template108 .box4 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template106 .box5,
.synergy-report-template107 .box5,
.synergy-report-template108 .box5 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template106 .box6,
.synergy-report-template107 .box6,
.synergy-report-template108 .box6 {
  grid-column: 1/5;
  grid-row:  6/7;
}

.synergy-report-template106 .box7,
.synergy-report-template107 .box7,
.synergy-report-template108 .box7 {
  grid-column: 5/7;
  grid-row:  1/3;
}

.synergy-report-template106 .box8,
.synergy-report-template107 .box8,
.synergy-report-template108 .box8 {
  grid-column: 5/7;
  grid-row:  3/5;
}

.synergy-report-template106 .box9,
.synergy-report-template107 .box9,
.synergy-report-template108 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting Template B (MTSU BB) */

.synergy-report-template109 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template109 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template109 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template109 .box4 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.synergy-report-template109 .box5 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.synergy-report-template109 .box6 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template109 .box7 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.synergy-report-template109 .box8 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template109 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting Template C (MTSU BB) */

.synergy-report-template110 .box1 {
  grid-column: 1/3;
  grid-row: 1/5;
}

.synergy-report-template110 .box2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.synergy-report-template110 .box3 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template110 .box4 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.synergy-report-template110 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template110 .box6 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.synergy-report-template110 .box7 {
  grid-column: 1/4;
  grid-row: 6/7;
}

.synergy-report-template110 .box8 {
  grid-column: 4/7;
  grid-row: 5/6;
}

.synergy-report-template110 .box9 {
  grid-column: 4/7;
  grid-row: 6/7;
}

/* Pitching Template A (Louisville SB) */

.synergy-report-template111 .box1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.synergy-report-template111 .box2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.synergy-report-template111 .box3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.synergy-report-template111 .box4 {
  grid-column: 1/2;
  grid-row: 3/5;
}

.synergy-report-template111 .box5 {
  grid-column: 2/3;
  grid-row: 3/5;
}

.synergy-report-template111 .box6 {
  grid-column: 3/4;
  grid-row: 3/5;
}

.synergy-report-template111 .box7 {
  grid-column: 1/2;
  grid-row: 5/7;
}

.synergy-report-template111 .box8 {
  grid-column: 2/3;
  grid-row: 5/7;
}

.synergy-report-template111 .box9 {
  grid-column: 3/4;
  grid-row: 5/7;
}

.synergy-report-template111 .box10 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.synergy-report-template111 .box11 {
  grid-column: 5/6;
  grid-row: 1/3;
}

.synergy-report-template111 .box12 {
  grid-column: 6/7;
  grid-row: 1/3;
}

.synergy-report-template111 .box13 {
  grid-column: 4/5;
  grid-row: 3/5;
}

.synergy-report-template111 .box14 {
  grid-column: 5/6;
  grid-row: 3/5;
}

.synergy-report-template111 .box15 {
  grid-column: 6/7;
  grid-row: 3/5;
}

.synergy-report-template111 .box16 {
  grid-column: 4/5;
  grid-row: 5/7;
}

.synergy-report-template111 .box17 {
  grid-column: 5/6;
  grid-row: 5/7;
}

.synergy-report-template111 .box18 {
  grid-column: 6/7;
  grid-row: 5/7;
}

.synergy-report-template111 div.box3,
.synergy-report-template111 div.box6,
.synergy-report-template111 div.box9 {
  border-right: .8mm solid #7b7b7b !important;
}

.synergy-report-template111 div.box10,
.synergy-report-template111 div.box13,
.synergy-report-template111 div.box16 {
  border-left: .8mm solid #7b7b7b !important;
}

/* Pitching Template A & B - Ole Miss SB */

.synergy-report-template113 .box1,
.synergy-report-template114 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template113 .box2,
.synergy-report-template114 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template113 .box3,
.synergy-report-template114 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template113 .box4,
.synergy-report-template114 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template113 .box5,
.synergy-report-template114 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template113 .box6,
.synergy-report-template114 .box6 {
  grid-column: 1/5;
  grid-row: 4/5;
}

.synergy-report-template113 .box7,
.synergy-report-template114 .box7 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.synergy-report-template113 .box8,
.synergy-report-template114 .box8 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template113 .box9,
.synergy-report-template114 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting Template A - Ole Miss SB */

.synergy-report-template115 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template115 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template115 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template115 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template115 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template115 .box6 {
  grid-column: 1/4;
  grid-row: 4/5;
}

.synergy-report-template115 .box7 {
  grid-column: 4/5;
  grid-row: 4/5;
}

.synergy-report-template115 .box8 {
  grid-column: 4/5;
  grid-row: 5/6;
}

.synergy-report-template115 .box9 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.synergy-report-template115 .box10 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.synergy-report-template115 .box11 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting Template B - Ole Miss SB */

.synergy-report-template116 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template116 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template116 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template116 .box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.synergy-report-template116 .box5 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template116 .box6 {
  grid-column: 1/3;
  grid-row: 4/7;
}

.synergy-report-template116 .box7 {
  grid-column: 3/5;
  grid-row: 4/7;
}

.synergy-report-template116 .box8 {
  grid-column: 5/7;
  grid-row: 5/7;
}

/* Hitting A - Hawaii Pacific BB */

.synergy-report-template123 .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.synergy-report-template123 .box2 {
  grid-column: 5/7;
  grid-row: 1/3;
}

.synergy-report-template123 .box3 {
  grid-column: 1/5;
  grid-row: 2/3;
}

.synergy-report-template123 .box4 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.synergy-report-template123 .box5 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.synergy-report-template123 .box6 {
  grid-column: 5/7;
  grid-row: 3/5;
}

.synergy-report-template123 .box7 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.synergy-report-template123 .box8 {
  grid-column: 3/5;
  grid-row: 5/7;
}

.synergy-report-template123 .box9 {
  grid-column: 5/7;
  grid-row: 5/7;
}
